CONSUMER_CONFIG="{{ KAFKA_HOME_DIRECTORY }}/config/mirrormaker/{{ MIRRORMAKER_NAME }}.consumer.properties"
PRODUCER_CONFIG="{{ KAFKA_HOME_DIRECTORY }}/config/mirrormaker/{{ MIRRORMAKER_NAME }}.producer.properties"
WHITELIST_TOPICS={{ WHITELIST_TOPICS_FOR_MIRROR }}